footer {
  width: 100%;
  background: #1976d2;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.fixed-bottom {
    position: absolute;
    bottom: 0;
}
.left {
  float: left;
  text-align: left;
  width: 60%;
  padding: 2px;
}
.right {
  float: right;
  text-align: right;
  width: 35%;
  padding: 2px;
}
