/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  font-family: system-ui;
  background-image: url('assets/images/bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
body {
  margin: 0;
  touch-action: manipulation;
  height: calc(100% - 30px);
}
.content {
  margin-top: 30px;
  height: calc(100% - 30px);
}
